<configuration>
	<connectionStrings>
		<add name="NHibernateConnection"
             connectionString="Server=localhost;Port=3306;Database=5erronka;User Id=root;Password=1WMG2023;"
             providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>

	<appSettings>
		<add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
		<add key="hibernate.connection.driver_class" value="NHibernate.Driver.MySqlDataDriver"/>
		<add key="hibernate.dialect" value="NHibernate.Dialect.MySQLDialect"/>
		<add key="hibernate.connection.connection_string" value="Server=localhost;Port=3306;Database=5erronka;User Id=root;Password=1WMG2023;"/>
	</appSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f2070b1e1e3e" culture="neutral" />
				<codeBase version="3.3.2.4000" href="file:///C:/Users/Benatge/Desktop/Erronka/5Taldea_1Erronka_Sukaldea/cocina/bin/Debug/nhibernate.dll"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
